<div class="list row">
  <div class="col-md-6">
    <h4>Listado de tareas del área: {{ AreaName }}</h4>

    <ul class="list-group">
      <a class="list-group-item" *ngFor="let task of selectedTasks; let i = index" [class.active]="i == currentIndex"
        (click)="setActiveTask(task, i)">
        {{ task.TaskName }}
      </a>
    </ul>
    <div *ngIf="selectedTasks.length == 0">
      <br />
      <p class="alert alert-warning">No existen tareas para esta área
      <p>
    </div>
  </div>

  <div class="col-md-6">
    <div *ngIf="currentTask">
      <ul class="list-group">
        <li class="list-group-item">
          <h4>Tarea</h4>
          <div>
            <label><strong>Nombre: </strong></label> {{ currentTask.TaskName }}
          </div>
          <div>
            <label><strong>Descripción: </strong></label>
            {{ currentTask.Description }}
          </div>
          <div>
            <label><strong>Estado: </strong></label>
            {{ currentTask.Status }}
          </div>
          <div>
            <label><strong>Trabajador asignado: </strong></label>
            {{ currentTask.Workers }}
          </div>
          <div hidden id="area">
            <label><strong>Area a la que pertenece:</strong></label>
            {{ currentTask.AreaName }}
          </div>

          <button class="btn btn-primary" routerLink="/tasks/edit/{{ currentTask.id }}" [disabled]="!isLoggedIn">
            Modificar
          </button>
        </li>
      </ul>
    </div>

    <div *ngIf="!currentTask">
      <br />
      <p class="alert alert-primary">Seleccione una tarea para consultar más información
      <p>
    </div>
    <p></p>
    <button routerLink="/add/{{ AreaName }}" class="btn btn-primary" [disabled]="!isLoggedIn">
      Añadir tarea
    </button>

    <button class="btn btn-secondary" routerLink="/area">
      Volver
    </button>
  </div>
</div>