<div class="d-flex justify-content-center">
    <p></p>
    <div>
        <p></p>
        <ul class="list-group">
            <a class=" text-center">
                <img class="img-fluid" src="../../../assets/logo_itc_2.png ">
            </a>
            <p></p>
            <li class="list-group-item text-center">
                <button class="btn btn-primary" routerLink="/area">
                    Acceder como coordinador
                </button>
            </li>
            <li class="list-group-item text-center">
                <button class="btn btn-primary" routerLink="/area">
                    Acceder como trabajador
                </button>
            </li>
        </ul>
    </div>
</div>