<div class="d-flex justify-content-center">
    <p></p>
    <div class="form-group">
        <p></p>
        <ul class="list-group">
            <a class=" text-center">
                <img class="img-fluid" src="../../../assets/logo_itc_2.png ">
            </a>
            <p></p>
            <a class="text-center">
                <button class="btn btn-primary" routerLink="/auth/signin">
                    Acceder como coordinador
                </button>
            </a>
            <p></p>
            <a class="text-center">
                <button class="btn btn-primary" routerLink="/area">
                    Acceder como trabajador
                </button>
            </a>
        </ul>
    </div>
</div>