<div style="margin: auto;">
  <form [formGroup]="addForm" novalidate>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="title">Nombre: </label>
          <input type="text" class="form-control" id="TaskName" required [(ngModel)]="task.TaskName"
            formControlName="TaskName" />
        </div>
        <div
          *ngIf="addForm.controls['TaskName'].invalid && (addForm.controls['TaskName'].dirty || addForm.controls['TaskName'].touched)"
          class="alert alert-danger">
          <div *ngIf="addForm.controls['TaskName'].errors.required">
            Es necesario poner un nombre a la tarea.
          </div>
        </div>

        <div class="form-group">
          <label for="description">Descripción: </label>
          <textarea class="form-control" id="Description" required [(ngModel)]="task.Description"
            formControlName="Description" rows="10"></textarea>
        </div>
        <div
          *ngIf="addForm.controls['Description'].invalid && (addForm.controls['Description'].dirty || addForm.controls['Description'].touched)"
          class="alert alert-danger">
          <div *ngIf="addForm.controls['Description'].errors.required">
            Es necesario añadir una descripción a la tarea.
          </div>
        </div>

        <div class="form-group">
          <label for="status">Estado: </label>
          <p></p>
          <select required [(ngModel)]="task.Status" formControlName="Status">
            <option [value]="status.StatusName" *ngFor="let status of statuses">{{ status.StatusName }}</option>
          </select>
        </div>
        <div
          *ngIf="addForm.controls['Status'].invalid && (addForm.controls['Status'].dirty || addForm.controls['Status'].touched)"
          class="alert alert-danger">
          <div *ngIf="addForm.controls['Status'].errors.required">
            Es necesario asignar un estado a la tarea.
          </div>
        </div>

        <div class="form-group">
          <label for="workers">Trabajador asignado: </label>
          <p></p>
          <select required [(ngModel)]="task.Workers" formControlName="Workers">
            <option [value]="worker.WorkerName" *ngFor="let worker of workers">{{ worker.WorkerName }}</option>
          </select>
        </div>
        <div
          *ngIf="addForm.controls['Workers'].invalid && (addForm.controls['Workers'].dirty || addForm.controls['Workers'].touched)"
          class="alert alert-danger">
          <div *ngIf="addForm.controls['Workers'].errors.required">
            Es necesario asignar un trabajador a la tarea.
          </div>
        </div>

        <button (click)="saveTask()" class="btn btn-success"
          [disabled]="addForm.pristine || addForm.invalid">Crear</button>
        <button class="btn btn-secondary" routerLink="/tasks/{{ areaName }}">Volver</button>
      </div>

      <div *ngIf="submitted" class="alert alert-primary">
        <h4>Se ha creado la tarea correctamente</h4>
      </div>
      <div *ngIf="submitted">
        <button class="btn btn-success" (click)="newTask()">Crear otra tarea</button>
        <button class="btn btn-secondary" routerLink="/tasks/{{ areaName }}">Volver</button>
      </div>
    </div>
  </form>
</div>