<div style="width: 400px; margin: auto;">
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Nombre: </label>
        <input type="text" class="form-control" id="TaskName" required [(ngModel)]="task.TaskName" name="TaskName" />
      </div>

      <div class="form-group">
        <label for="description">Descripción: </label>
        <textarea class="form-control" id="Description" required [(ngModel)]="task.Description" name="Description"
          rows="10" cols="38"></textarea>
      </div>

      <div class="form-group">
        <label for="status">Estado: </label>
        <select [(ngModel)]="task.Status">
          <option [value]="status.StatusName" *ngFor="let status of statuses">{{ status.StatusName }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="workers">Trabajador asignado: </label>
        <select [(ngModel)]="task.Workers">
          <option [value]="worker.WorkerName" *ngFor="let worker of workers">{{ worker.WorkerName }}</option>
        </select>
      </div>

      <button (click)="saveTask()" class="btn btn-success">Crear</button>
      <button class="btn btn-secondary" routerLink="/tasks/{{ areaName }}">Volver</button>
    </div>

    <div *ngIf="submitted">
      <h4>Se ha creado la tarea correctamente</h4>
      <button class="btn btn-success" (click)="newTask()">Crear otra tarea</button>
      <button class="btn btn-secondary" routerLink="/tasks/{{ areaName }}">Volver</button>
    </div>
  </div>
</div>